# Ignore virtual environment directory
virtenvir/

src/cvat/backend/node_modules/

outputs/*

src/cvat/src/
wheels/
Dockerfile

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
logs/
*.log

# Generated outputs / temp
outputs/
uploads/


# VS Code
.vscode/
# Heavy files:
*.exe